$col-50:#fef4fe;
$col-100:#fce7fc;
$col-200:#f9cffa;
$col-300:#f7b8f7;
$col-400:#f4a0f5;
$col-500:#f188f2;
$col-600:#b566b6;
$col-700:#794479;
$col-800:#3c223d;
$col-900:#180e18;
$hover:#C949CA;
$light:#FFEDFF;
